@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


#root {
  text-align: center;
}

body {
  height: 100%;
  margin: 0;              /* remove default margin */
  background-color: #F9FAFB;   /* full-page colour */
  font-family: 'Poppins', sans-serif;
}